@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html, body {
    padding: 0;
    margin: 0;
    /* font-family: cursive !important; */
    /* font-family: 'Roboto', sans-serif !important; */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.svg {
  display: inline;
  height: 50px;
  width: 50px;
  margin: 0;
}

.svg .pizza {
  transform: scale(0.3, 0.2);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out infinite forwards;
  fill: none;
  stroke: #e3a208;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.top-section {
  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url('https://i.imgur.com/iw1am5p.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
}